@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', sans-serif;
}

/*Menu*/
header{
    background-image:  -webkit-linear-gradient( -45deg, #0C191B 0%, #2B393B 30%, #0C191B 100%);
    box-shadow: 0 3px 10px #3B494B;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 30;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 0rem 5rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo a{
    color: #fff;
    text-decoration: none;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-list .nav-item{
    padding: 15px;
}
.nav-list .nav-item:hover{
    background-color: #3B494B;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
}
.mobile-icon{
    display: none;
}
.mobile{
    display: none;
}



@media all and (max-width: 870px) {

    /*Menu Mobile*/
    .nav-bar{
        padding: 0.2rem 2.5rem;
    }
    .nav-item{
        display: none;
    }
    .mobile-icon{
        display: block;
    }
    .mobile-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile ul li{
        margin: 0;
    }
    .mobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile .nav-item{
        display: block;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .mobile .nav-item:hover{
        background-color: #586F7C;
    }
    .open{
        display: block;
    }

}