@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', sans-serif;
}

/*Menu*/
header{
    background: linear-gradient(120deg, #FF0000 0%, #4f3cc7 100%),
    linear-gradient(-120deg, #ff0095 0%, #208200 100%),
    linear-gradient(130deg, #00F0FF 0%, #000000 100%),
    radial-gradient(110% 140% at 15% 90%, #ffffff 0%, #1700A4 100%),
    radial-gradient(100% 100% at 50% 0%, #AD00FF 0%, #00FFE0 100%),
    radial-gradient(100% 100% at 50% 0%, #00FFE0 0%, #7300A9 80%),
    linear-gradient(30deg, #7ca304 0%, #2200AA 100%);
    background-blend-mode: overlay, color, overlay, difference, color-dodge, difference, normal;
    box-shadow: 0 3px 10px #8b4a70;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 3;
    text-shadow: 2px 1px rgba(31, 30, 30, 0.863);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 0rem 5rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo a{
    color: #fff;
    text-decoration: none;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-list .nav-item{
    padding: 15px;
}
.nav-list .nav-item:hover{
    background-color: #8b4a709f;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
}
.mobile-icon{
    display: none;
}
.mobile{
    display: none;
}

/*Mobile*/
@media screen and (max-width: 880px) {
    /*Inicio Menu Mobile*/
    .nav-bar{
        padding: 0.2rem 2.5rem;
    }
    .nav-item{
        display: none;
    }
    .mobile-icon{
        display: block;
    }
    .mobile-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile ul li{
        margin: 0;
    }
    .mobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile .nav-item{
        display: block;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .mobile .nav-item:hover{
        background-color: #8b4a709f;
    }
    .open{
        display: block;
    }
    /*Fim do Menu Mobile*/

    /*Inicio Seção Capa*/
    .bubbles span{
        width: 15px;
        height: 15px;
        box-shadow: 0 0 0 5px #0D2A4844, 0 0 25px #0D2A48, 0 0 50px #0D2A48;
    }
    .bubbles span:nth-child(even){
        box-shadow: 0 0 0 5px #0D2A4844, 0 0 25px #0D2A48, 0 0 50px #0D2A48;
    }
    /*Fim Seção Capa*/
}
@media screen and (max-width: 380px){
    section{
        font-size: 10px;
    }
    /*Inicio Seção Capa*/
    .bubbles span{
        width: 20px;
        height: 20px;
    }
    /*Fim Seção Capa*/
}