@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', sans-serif;
}

/*Menu*/
header{
    background-image:  -webkit-linear-gradient( -45deg, #000000 0%, #2F4550 30%, #586F7C 100%);
    box-shadow: 0 3px 10px #586F7C;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 6;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 0rem 5rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo a{
    color: #fff;
    text-decoration: none;
    text-shadow: 3px 3px 10px #7ba8c2;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-list .nav-item{
    padding: 15px;
}
.nav-list .nav-item:hover{
    background-color: #3a536eb0;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
}
.mobile-icon{
    display: none;
}
.mobile{
    display: none;
}

/*Home*/
#home{
    background-image: -webkit-linear-gradient( -45deg, #000000 0%, #2F4550 30%, #586F7C 100%);
    height: 95vh;
    text-align: center;
}
.welcome{
    color: white;
    text-shadow: 4px 4px 8px black;
    font-size: 150%;
    padding-top: 14rem;
}
.nome{
    color: white;
    text-shadow: 4px 4px 8px black;
    font-size: 250%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.area-profissinal{
    color: white;
    text-shadow: 4px 4px 8px black;
    font-size: 130%;
    margin: 0 auto;
    padding-top: 0.5rem;
}
.foto-capa{
    max-width: 20rem;
    margin-top: 5rem;
    border-radius: 100%;
    position: relative;
}

/*Seções*/
.container{
    background: #a8cfe6;
    padding: 0rem 5rem;
    padding-top: 5px;
}
.row{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 15px;
}
.col-50{
    width: 50%;
    text-align: center;
}
.col-33{
    width: 33%;
    text-align: center;
    margin: 0 0.165% 0 0.165%;
}
.col-33 p{
    padding: 0 10px;
}
.col-12{
    width: 12.5%;
    text-align: center;
}
.titulo2{
    color: black;
    font-size: 160%;
    padding: 15px 0 35px 0;
    text-align: center;
}
.sub-titulo2{
    color: #3f4e57;
    font-size: 120%;
    padding: 10px 0;
    text-align: center;
}
.formacao{
    text-align: center;
}
section{
    padding-bottom: 20px;
}

/*Sobre*/
#sobre{
    text-align: justify;
}

/*Portfolio*/
.col-33 img{
    padding: 20px 0 20px 0;
}
#portfolio .col-33{
    background-image: -webkit-linear-gradient( -45deg, #00000073 0%, #2F455073 30%, #586F7C73 100%);
    padding-bottom: 20px;
    border-radius: 4%;
}
button{
    padding: 0.6rem 1.2rem;
    background-color: #5a798b;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.9;
    font-size: 1.1rem;
}
#open-modal,
#open-modal2,
#open-modal3{
    background-color: #2F4550;
}
button:hover {
    opacity: 1;
}
#fade,
#fade2,
#fade3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
}
#modal,
#modal2,
#modal3{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    background-image: -webkit-linear-gradient( -45deg, #000000ef 0%, #2F4550ef 30%, #586F7Cef 100%);
    padding: 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 0 3px 10px #ffffff;
    z-index: 10;
}
#fade,
#fade2,
#fade3,
#modal,
#modal2,
#modal3{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    color: #ffffff;
}
.modal-footer{
    display: flex;
    justify-content: center;
    padding: 0;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}
.icon-modal{
    text-align: center;
    color: #ffffff;
}
.icon-modal i{
    padding-top: 0;
}
.modal-body p{
    margin-bottom: 1rem;
    text-align: justify;
    color: #ffffff;
}
#modal.hide, #modal2.hide, #modal3.hide, 
#fade.hide, #fade2.hide, #fade3.hide{
    opacity: 0;
    pointer-events: none;
} 
#modal.hide,
#modal2.hide,
#modal3.hide{
    top: 0;
}

/*Habilidades*/
.img-hb{
    width: 60%;
}

/*Footer*/
footer{
    background-image: -webkit-linear-gradient( -45deg, #000000 0%, #2F4550 30%, #586F7C 100%);
    height: 150px;
    text-align: center;
}
i{
    padding-top: 3.5rem;
    font-size: 35px;
    width: 80px;
}
.contato a{
    color: #ffffff;
    text-decoration: none;
}
.copyright{
    position: relative;
    top: 25%;
    font-size: 13px;
}

@media screen and (max-width: 866px) {
    /*Menu Mobile*/
    .nav-bar{
        padding: 0.2rem 2.5rem;
    }
    .nav-item{
        display: none;
    }
    .mobile-icon{
        display: block;
    }
    .mobile-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile ul li{
        margin: 0;
    }
    .mobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile .nav-item{
        display: block;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .mobile .nav-item:hover{
        background-color: #586F7C;
    }
    .open{
        display: block;
    }
    /*Home*/
    .welcome{
        font-size: 120%;
        padding-top: 4rem;
    }
    .nome{
        font-size: 190%;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }
    .area-profissinal{
        font-size: 120%;
        padding-top: 0.5rem;
    }
    .foto-capa{
        max-width: 15rem;
        margin-top: 2rem;
    }
    .col-50{
        width: 100%;
    }
    .col-33{
        width: 100%;
        margin: 0 0 2% 0;
    }
    /*Seções*/
    .container{
        padding: 0.2rem 2.5rem;
    }
    /*Habilidades*/
    .col-12{
        width: 25%;
        text-align: center;
    }
}